@{
  Layout = "_Layout";
}
<h2>Our Valued Vendors</h2>
@using VendorOrderTracker.Models;

@if (@Model.Count == 0)
{
  <h4>Status: No active vendors</h4>
}
@foreach (Vendor vendor in Model)
{
  <h4><a href='/vendors/@vendor.Id'>@vendor.Name</a></h4>
}
<p>Click your name above to see your detail page and add an order to your account</p>
<button class="button-62" role="button"><a href='/vendors/new'>Sign up to become a vendor</a></button>
<br />