@{
  Layout = "_Layout";
}
<h2>Benvenuti!</h2>
<p>We are a wholesaler bakery specializing in providing goods to vendors in the Palermo region</p>
<hr />
<p>Please click the button below to see the list of vendors we work with and manage your account</p>
<button class="button-62" role="button"><a href="/vendors">Vendor List</a></button>