@{
  Layout = "_Layout";
}
<h3>Fill out this form to place an order</h3>
<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="oTitle">Title:</label>
  <input id="oTitle" name="oTitle" type="text" placeholder="Scones">
  <br />
  <label for="oDescription">Description:</label>
  <textarea id="oDescription" name="oDescription" placeholder="Cranberry Orange scones"></textarea>
  <br />
  <label for="price">Price:</label>
  <input id="price" name="price" type="number" placeholder="5">
  <button type="submit" class="button-62" role="button">Place Order</button>
</form>
<br />
<a href="/vendors/@Model.Id" class="button-62">Return to your vendor detail page </a>
<a href="/vendors/" class="button-62">Main vendor list page</a>