@{
  Layout = "_Layout";
}
@using VendorOrderTracker.Models
<div id="orderDetails">
  <h2>@Model["vendor"].Name</h2>
  <hr />
  <h3>Order: @Model["order"].Title</h3>
  <br />
  <h5>Details: @Model["order"].Description</h5>
  <h5>Price: $@Model["order"].Price</h5>
  <p>Date ordered: @Model["order"].DateOrder</p>
  <br />
  <a href='/vendors/@Model["vendor"].Id/orders/new' class="button-62">New order</a>
  <a href='/vendors/@Model["vendor"].Id' class="button-62">Back to your vendor page</a>
</div>